@import url("https://fonts.googleapis.com/css2?family=Digital+7&display=swap");

* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  height: 90vh;
  background-color: rgb(51, 51, 152);
}
.Calculator {
  display: flex;
  height: 80%;
  width: 500px;
  justify-content: center;
  align-self: center;
  background-color: rgb(96, 193, 151);
  flex-direction: column;
  border-radius: 5px;
  border: none;
}

.rowOne,
.rowTwo,
.rowThree,
.rowFour,
.rowFive {
  display: flex;
  flex: auto;
  width: 100%;
}
.display {
  font-family: "Digital-7", sans-serif;
  display: flex;
  background-color: grey;
  margin: 5px 5px 2px;
  padding: 0px 10px;
  flex-grow: 1;
  border-radius: 10px;
  align-items: center;
  justify-content: end;
  font-size: xx-large;
  font-weight: bold;
  white-space: nowrap;
}
.choices {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  margin: 3px;
}
button {
  display: flex;
  flex: auto;
  max-width: 117px;
  border: 0;
  padding: 0;
  margin: 3px;
  border-radius: 10px;
  border: none;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
}
.rowOne .operator {
  max-width: 117px;
  margin-left: auto;
  margin-right: 5px;
}
.left {
  display: flex;
  justify-content: center;
  flex: auto;
  margin: 0px 5px;
}
.left .delete,
.left .clear {
  max-width: 200px;
  background-color: rgb(230, 199, 156);
}
.rowFive .number {
  max-width: 300px;
  flex-grow: 2;
}

.rowFive .operate,
.rowFive .dot {
  flex-grow: 1;
}
.number,
.dot {
  background-color: rgb(120, 88, 111);
  color: white;
}
.operator,
.negation {
  background-color: rgb(224, 56, 56);
  color: white;
}
.operate {
  background-color: rgb(224, 56, 56);
}
